<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
    <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions,          Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <!--<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="RETRY_MANAGEMENT_COUNT" value="3" />
    <add key="ROLLBACK_SERVICE" value="ROLLBACK_THIRD_PARTY_TRANSFER" />
    <add key="CONFIRM_SERVICE" value="CONFIRM_THIRD_PARTY_TRANSFER" />
    <add key="EXTERNAL_SERVICE" value="EXTERNAL_THIRD_PARTY_TRANSFER" />
    <add key="CHANNEL_ID" value="04" />
    <add key="CHANNEL_TYPE" value="API" />
    <add key="REQUESTOR_ID" value="CreaCardApiLogin" />
    <add key="REQUESTOR_CREDENTIALS" value="01982284FAF04732809BB69EB2864549" />
    <add key="ACTION_DATE_TIMESTAMP_FORMAT" value="MMddyyyyHHmmss" />
    <add key="GTW_ENDPOINT" value="http://192.168.70.81/service.svc/CartaServices" />

    <add key="AUTHORISATION_CHANLLENCE" value="AUTHORISATION_CHALLENGE" />
    <add key="AUTHORISATION_CHALLENGE_CANCEL" value="AUTHORISATION_CHALLENGE_CANCEL" />
    <add key="WEB_CHANNEL_ID" value="01" />
    <add key="WEB_CHANNEL_TYPE" value="WEB" />
    <add key="WEB_REQUESTOR_ID" value="HyperJarWebLogin" />
    <add key="WEB_REQUESTOR_CREDENTIALS" value="C1BE25518C0E4EBCABF1263CF276035C" />
    <add key="JWS_PUBLIC_KEY" value="C:\TMP\RSA\3ds_RSA_Pub.pem" />
    <add key="JWS_PRIVATE_KEY" value="C:\TMP\RSA\3ds_RSA_Priv.pem" />

    <add key="FWD_CHALLENGE_ENDPOINT" value="http://192.168.80.81:9075" />
    <add key="TOUCHTECH_API_KEY" value="pTNVv4fjUuXiQABf2bqMJpUVEHuPZp3y" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.7.1" />
  </system.web>
  <system.serviceModel>
    <diagnostics performanceCounters="All" />
    <bindings>
      <customBinding>
        <binding name="RawReceiveCapable">
          <!-- Provide the fully qualified name of the WebContentTypeMapper  -->
          <webMessageEncoding webContentTypeMapperType="Carta.Api.External.RawWebContentTypeMapper, Carta.Api.External" />
          <httpTransport manualAddressing="true" maxReceivedMessageSize="524288000" transferMode="Streamed" />
          <!-- maxReceivedMessageSize is 500 Mb -->
        </binding>
      </customBinding>
    </bindings>
    <client />
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="Carta.Api.External.Service">
        <endpoint address="" behaviorConfiguration="Web" binding="customBinding" bindingConfiguration="RawReceiveCapable" contract="Carta.Api.External.IService" />
        <host>
          <baseAddresses>
            <add baseAddress="/Service.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="C:\\CARTA\\logs\\Carta.External.API\\" />
      <encoding value="utf-8" />
      <param name="AppendToFile" value="true" />
      <param name="DatePattern" value="yyyy-MM-dd.'Carta.External.API.log'" />
      <param name="RollingStyle" value="Date" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%property{NDC}]|%-5p | %d{yyyy-MM-dd HH:mm:ss.fff} | %c | %m%n " />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <!-- Specify the level for some specific categories -->
  </log4net>
  <connectionStrings>
    <add name="CARTA_UK_V3Entities" connectionString="metadata=res://*/Db.CartaEntities.csdl|res://*/Db.CartaEntities.ssdl|res://*/Db.CartaEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.60.85;initial catalog=CARTA_UK_V3;persist security info=True;user id=sa;password=@dmin123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: {241093E1-6036-42A6-B26A-67B9E53E52B9}-->