<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.1"/>
    <httpRuntime targetFramework="4.7.1"/>
  </system.web>
  <system.serviceModel>
    <diagnostics performanceCounters="All"/>
    <bindings>
      <customBinding>
        <binding name="RawReceiveCapable">
          <!-- Provide the fully qualified name of the WebContentTypeMapper  -->
          <webMessageEncoding webContentTypeMapperType="Carta.External.API.RawWebContentTypeMapper, Carta.External.API"/>
          <httpTransport manualAddressing="true" maxReceivedMessageSize="524288000" transferMode="Streamed"/>
          <!-- maxReceivedMessageSize is 500 Mb -->
        </binding>
      </customBinding>
    </bindings>
    <client/>
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="Carta.External.API.Service">
        <endpoint address="" behaviorConfiguration="Web" binding="customBinding" bindingConfiguration="RawReceiveCapable" contract="Carta.External.API.IService"/>
        <host>
          <baseAddresses>
            <add baseAddress="/Service.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>